section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table {
  width: 90%;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
}
